# Data
data/*
!data/.gitkeep
*.csv
*.parquet

# Kaggle / credentials
kaggle.json
.kaggle/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.gitkeep/
.venv/
venv/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Colab
.config/
